<h1>Deployment Portal</h1>
<%= link_to "Create Deployment", deployment_configurations_path %>
<%= link_to " (SageOneNa Deployment Procedure) ", "https://sage.wiki.best.adinternal.com/wiki/Tropos_Deployment_Procedure" %><br>
<%= link_to "Deployments", deployments_path %>
